version: '3.8'

services:
  # nginx:
  #   container_name: nginx
  #   build: ./requirements/nginx
  #   ports:
  #     - "443:443"
  #     - "80:80"
  #   healthcheck:
  #     test: ["CMD-SHELL", "curl -fk https://localhost:443 || exit 1" ]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 40s
  #   networks:
  #     - inception
  #   volumes:
  #     - wordpress_data:/var/www/html:ro # condiviso con wordpress, read-only per nginx
  #   depends_on:
  #     wordpress:
  #       condition: service_healthy
  #   restart: unless-stopped

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    networks:
      - inception
    healthcheck:
      test: ["CMD-SHELL", "test -f /var/www/html/wp-config.php && pidof php-fpm || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - wordpress_data:/var/www/html
    secrets:
      - db_wordpress_password
      - wp_admin_password
      - wp_user2_password
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}

      DOMAIN_NAME: ${DOMAIN_NAME}
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_USER2: ${WP_USER2}
      WP_USER2_EMAIL: ${WP_USER2_EMAIL}
    restart: unless-stopped

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin ping -h localhost -u root --password=\"$(cat /run/secrets/db_root_password)\" --silent || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    secrets:
      - db_root_password
      - db_wordpress_password
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
    restart: unless-stopped

# volumi condivisi
# Driver: Default: local = salva i dati sul disco locale dell'host !!

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${WP_DATA_PATH} # DEVI CREARE LA CARTELLA IN /HOME/GVIGANO ... !!
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DB_DATA_PATH}

# rete docker interna in i 3 container (nginx, mariadb, wordpress) comunicano tra loro
networks:
    inception:
      name: inception

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_wordpress_password:
    file: ../secrets/db_wordpress_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user2_password:
    file: ../secrets/wp_user2_password.txt


#  WORDPRESS_DB_PASSWORD_FILE: /run/secrets/db_wordpress_password
#  MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
#  MYSQL_PASSWORD_FILE: /run/secrets/db_wordpress_password