version: '3.8'

services:
  nginx:
    container_name: nginx
    build: ./srcs/requirements/nginx
    ports:
      - "443:443"
      - "80:80"
    healthcheck:
      test: ["CMD-SHELL", "curl -fk https://localhost:443 || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    depends_on:
      wordpress:
        condition: service_healthy
    networks:
      - inception
    volumes:
      - type: bind
        source: /home/giuliaviga/data/wordpress
        target: /var/www/html
        read_only: true
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
    restart: unless-stopped

  wordpress:
    container_name: wordpress
    build: ./srcs/requirements/wordpress
    networks:
      - inception
    healthcheck:
      test: ["CMD-SHELL", "test -f /var/www/html/wp-config.php && pidof php-fpm7.4 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - type: bind
        source: /home/giuliaviga/data/wordpress
        target: /var/www/html
    secrets:
      - db_wordpress_password
      - wp_admin_password
      - wp_user2_password
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}

      DOMAIN_NAME: ${DOMAIN_NAME}
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_USER2: ${WP_USER2}
      WP_USER2_EMAIL: ${WP_USER2_EMAIL}
    restart: unless-stopped

  mariadb:
    container_name: mariadb
    build: ./srcs/requirements/mariadb
    networks:
      - inception
    volumes:
      - type: bind
        source: /home/giuliaviga/data/mariadb
        target: /var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u healthcheck --silent || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    secrets:
      - db_root_password
      - db_wordpress_password
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
    restart: unless-stopped

networks:
    inception:
      name: inception

secrets:
  db_root_password:
    file: ./secrets/db_root_password.txt
  db_wordpress_password:
    file: ./secrets/db_wordpress_password.txt
  wp_admin_password:
    file: ./secrets/wp_admin_password.txt
  wp_user2_password:
    file: ./secrets/wp_user2_password.txt
