version: '3.8'

services:
  nginx:
    container_name: nginx
    build: ./requirement/nginx
    ports:
      -  "443:443"
    networks:
      -  inception
    depends_on:
      -  wordpress
    secrets:
      -  db_root_password
    restart:  always
	
  mariadb:
    container_name:  mariadb
    build:  ./requirments/mariadb
    networks:
      -  inception

    volume:
	
    restart:  always
		
  wordpress:
    container_name:  wordpress
    build:  ./requirments/wordpress
    networks:
      -  inception

    volume:

    restart:  always

# Verifica salute ??
healthcheck:


secrets:
  db_root_password:
    file:  ./secrets/db_root_password.txt

# volumi condivisi 
volumes:


# rete docker interna in i 3 container (nginx, mariadb, wordpress) comunicano tra loro
networks:
    inception:
      name:  inception

# depends_on:   per specificare un ORDINE DI AVVIO 
# --> aspetta solo che il container sia avviato NON che il servizio sia pronto

#restart: # istuzioni su quando fare restart
      # OPZIONI : 
      # restart: "no" # NON riavviare mai
      # restart: always # SEMPRE, anche dopo Reboot
      # restart: on-failure # SOLO se CRASHA
      # restart: unless-stopped # SEMPRE; TRANNE SE FERMATO MANUALMENTE

# Variabili di ambiente -->
# environment:
	# DB_HOST: mariadb
	# DB_NAME: wordpress

# OPPURE -->
# env_file:
	# .env --> con dentro specificate tutte le variabili d'ambiente necessarie